@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #1a1a1a;
  --off-white: #f7f6f3;
  --off-darker: #f2eae6;
  --accent: #cd3845;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* background-color: var(--accent); */
  background-color: var(--off-white);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 2rem 2rem 0.4rem;
  background-color: var(--black);
  color: var(--off-white);
  #logo {
    h1 {
      font-family: "Poppins", sans-serif;
      font-weight: 800;
      font-size: 5rem;
      line-height: 95%;
    }
    p {
      font-weight: 200;
      font-size: 0.8rem;
      margin-top: 0.4rem;
      margin-left: 0.2rem;
      word-spacing: 1rem;
    }
  }
  #submit-button {
    font: inherit;
    font-weight: 300;
    font-size: 0.9rem;
    background-color: transparent;
    color: var(--off-white);
    border: 2px solid var(--off-white);
    padding: 0.5rem 1.6rem;
  }
  #submit-button:hover {
    transform: rotate(10deg);
    cursor: pointer;
  }
}

.modal {
  width: 40%;
  padding: 1rem;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  text-transform: uppercase;
  border: 2px solid var(--black);
  background-color: var(--off-white);
  #new-task-form {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    .details-row {
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      .custom-select {
        select {
          font: inherit;
          font-size: 0.8rem;
          border-style: none;
          background-color: transparent;
        }
      }
    }
  }
  .buttons {
    margin-top: 1rem;
    #add-btn,
    #close-btn {
      font: inherit;
      font-size: 0.8rem;
      background-color: transparent;
      border: 1px solid var(--black);
      padding: 0.4rem 1rem;
    }
    #add-btn:hover,
    #close-btn:hover {
      background-color: var(--black);
      color: rgb(245, 243, 215);
    }
    #add-btn:active,
    #close-btn:active {
      scale: 0.98;
    }
  }
}

.tasks-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  #today,
  #later {
    padding: 2rem;
    h2 {
      margin-bottom: 1rem;
      align-self: center;
    }
    ul {
      list-style: none;
      .toDo {
        margin-bottom: 1rem;
        padding: 1rem;
        background-color: var(--off-white);
        border-bottom: 2px solid var(--accent);
        .toDo-top-line {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          text-transform: uppercase;
          .task-buttons {
            button {
              border-style: none;
              background-color: transparent;
              color: white;
              background-color: grey;
              width: 1.4rem;
              height: 1.4rem;
              border-radius: 50%;
            }
          }
        }
        .details-row {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
  #today {
    .day-info {
      display: flex;
      /* align-items: baseline; */
      h2 {
        margin-right: 1rem;

      }
      #dateDisplay {
        margin-top: 0.2rem;
        font-size: 1.2rem;
        font-weight: 300;
      }
    }
  }
}

footer {
  div {
    margin: 0 auto;
    display: flex;
    align-self: flex-end;
  }
}
.done {
  text-decoration: line-through;
  opacity: 0.7;
}