@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(245, 243, 215);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem;
  h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 4rem;
  }
  #submit-button {
    font: inherit;
    font-size: 0.8rem;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 0.5rem;
    padding: 0.4rem 1rem;
  }
  #submit-button:hover {
    background-color: black;
    color: rgb(245, 243, 215);
  }
  #submit-button:active {
    scale: 0.98;
  }
}

.modal {
  width: 40%;
  padding: 1rem;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  text-transform: uppercase;
  border: 2px solid black;
  border-radius: 1rem;
  background-color: rgb(245, 243, 215);
  #new-task-form {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    .details-row {
        margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      .custom-select {
        select {
          font: inherit;
          font-size: 0.8rem;
          border-style: none;
          background-color: transparent;
        }
      }
    }
  }
  .buttons {
    margin-top: 1rem;
    #add-btn, #close-btn {
      font: inherit;
      font-size: 0.8rem;
      background-color: transparent;
      border: 1px solid black;
      border-radius: 0.5rem;
      padding: 0.4rem 1rem;
    }
    #add-btn:hover, #close-btn:hover {
        background-color: black;
        color: rgb(245, 243, 215);
      }
      #add-btn:active, #close-btn:active {
        scale: 0.98;
      }
  }
}

.tasks-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  #today,
  #later {
    padding: 2rem;
    h2 {
      margin-bottom: 1rem;
      align-self: center;
    }
    ul {
      list-style: none;
      .toDo {
        border-bottom: 2px solid blue;
        margin-bottom: 1rem;
        .details-row {
          display: flex;
          justify-content: space-between;
        
        }
      }
    }
  }
  #today {
    .day-info {
        display: flex;
        gap: 1rem;
        #dayDisplay {
            /* fix alignment */
        }
    }
  }
}
